body {
    margin: 0;
}
header {
    background-color: #A8D1D1;
    border-style: solid;
}
main {
    background-color: #8DCBE6;
    border-style: solid;

}
footer {
    background-color: #9DF1DF;
    font-size: 20px;
    height: 100px;
    border-style: solid;
}


.logo {
    width: 300px; 
    height: 180x;
    float: right;
    background-color: #A8D1D1;
}

.contact_page {
    background-color: #8DCBE6;
}

img {
    position: relative;
    top: 10px;
}

.contact {
    position: relative;
    top: 20px;
    left: 10px;
}


h1 {
    color: black;
}

h3 {
    color: black;
}

 
p {
    color:#13005A;
}